%article.movie
  = link_to(image_tag(movie.picture_path,{:class=>"movie_img"}),movie) unless movie.picture_path.nil?
  .data
    %h3.title
      = link_to "#{movie.title} - #{movie.year}", movie
    %span.plot
      = movie.plot
    by 
    %ul.directors
      - movie.directors.each do |director|
        = render :partial => 'director', :locals =>{:director => director}        
    %span.rating{:id=>movie.imdbid,"data-rating"=>movie.rating}
    = "(#{movie.rating} / #{movie.votes})"
    %ul.genres{:class=>"right"}
      - movie.genres.each do |genre|
        %li= genre.description

