.col_16.col
  %article
    = render :partial => "info"
    = render :partial => "incomplete"
    %h1 Movies
    #results
      = render @movies unless @movies.nil? || @movies.empty?
      != @movies.pager.to_html("/movies?query=#{CGI.escape(@query)}") if @movies && @movies.pager
      != pageless(@movies.pager.total_pages,"/movies?query=#{CGI.escape(@query)}") if @movies && @movies.pager
      %blockquote= "Sorry! No movies..."if @movies.nil? || @movies.empty?
  
