%nav
  %ul
    != "movies" == params[:controller] ? "<li class='active'>" : "<li>"
    = link_to "Home", root_path
    != "</li>"
    != "whishlists" == params[:controller] ? "<li class='active'>" : "<li>"
    = link_to "Wishlist", whishlists_path
    != "</li>"
    %li
      = link_to "Status", "#"
      
