%nav
  %ul
    != "movies" == params[:controller] ? "<li class='active'>" : "<li>"
    = link_to "Home", root_path
    != "</li>"
    != "whishlists" == params[:controller] ? "<li class='active'>" : "<li>"
    = link_to "Wishlist", whishlists_path
    != "</li>"
    != "status" == params[:controller] ? "<li class='active'>" : "<li>"
    = link_to "Status", status_path
    != "</li>"
      
