!!!
%html
  %head
    %title 
      Movies Catalog 
      = @title      
    = stylesheet_link_tag "reset","general","grid","css3","style"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js","rails","html5", "jquery.raty.min","jquery.pageless.min","application"
    = csrf_meta_tag
  %body
    .row
      %header
        .logo.left 
          Movies Catalog     
        .box.right
          = render "movies/search"   
        .clear
        = render "layouts/menu"
      .clear
      %section.content
        = yield
    .clear{:style=>"height:10px; border-bottom:1px solid #ccc;"}
  %footer.row
    %section.col_8.col.align_left
    %section.col_8.col.align_right by g0nz0
